
.header,
.hero,
.body,
footer {
    background-color: grey;
    margin-bottom: 10px;
}

.box {
    min-height: 100px;
    background-color: rgba(98, 34, 24, 1);
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}